html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,
body {
    min-height: 100vh;
    font-family: 'Times New Roman';
}

.hide {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 3vh 0;
    min-height: 7vh;
    max-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid black;
    background-image: url('img/default.jpg');
    background-size: cover;
    color: white;
}

.main {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    width: 300px;
    display: grid;
    grid-template-rows: repeat(4, 30px);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "city-label city-input"
        "country-label country-input"
        "button button";
}

.search-form input {
    height: 1rem;
}

.title {
    grid-area: title;
}

label[for='city'] {
    grid-area: city-label;
}

#city {
    grid-area: city-input;
}

label[for='country'] {
    grid-area: country-label;
}

#country {
    grid-area: country-input;
}

button {
    grid-area: button;
}

footer {
    height: 5vh;
}

@media only screen and (min-width: 750px) {
    header {
        transition: 50ms linear;
    }
    header:hover {
        font-style: italic;
        letter-spacing: 1rem;
    }
}